/* IMPORTED SPOTIFY FONT --------------------------------------------------------------- */
@font-face { font-family: spotify; src: url('fonts/CircularSpotifyTxT-Black.ttf'); }

/* GLOBAL WEBSITE STYLING --------------------------------------------------------------- */
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: spotify;
    min-width: 700px;
    
  }

a {
    color:rgb(150, 12, 12);
}

h3 {
  font-size: 100px;
  color: rgb(150, 12, 12);
  user-select: none;
}

p {
padding: 0px;
}

#home-text {
  user-select: none;
}

#home-content{
  display: block;
  
}

#home-button{
  color: rgb(150, 12, 12);
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    display: none;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 12, 12);
}

#particles-js{
  width: 100%;
  height: 200%;
  overflow: hidden;
}

.tabs {
  
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.tab-button {
  background-color: transparent;
  color: white;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  font-family: spotify;
  border: 1px solid grey;
}

.tab-button:hover {
  background-color: grey;
  transition: 0.5s;
}

.tab-content {
  background-color: white;
  width: 50%;
  height: 0px;
  left: 25%;
  top:10%;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 25px;
  display: none;

}

/* ABOUT ME STYLING--------------------------------------------------------------- */

.src-img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width:8%;
    height:8%;
    padding: 3%;
    transition: 1s;
    border-radius: 15%;
    color: transparent;

}

#igit:hover {
  background-color: rgba(74, 0, 111, 0.529);
  
}
#iln:hover {
  background-color: rgba(118, 118, 118, 0.679);
}

#igl:hover {
  background-color: rgba(128, 0, 0, 0.549);
}

.aleft {
  text-align: left;
}

.noUl {
  color: transparent;
}


/* PROJECTS STYLING -------------------------------------------------------------- */

.proj-block {
  border: 1px solid grey;
  display: flex;
  border-radius: 10px;
  font-size: 17px;
  padding: 0px;
}
.proj-item {
  padding: 0px;
  vertical-align: middle;
}

.proj-img{
  padding: 0px;
  width: 50%;
}

.proj-txt{
  padding: 0px;
}

h4{
  font-size: 24px;
  color: rgb(150, 12, 12);
  padding: none;

}

/* ANIMATIONS --------------------------------------------------------------- */
/*Fade out welcome text */
.fade-out-welcome {
    
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 1; }
  30% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

@keyframes fadeinout {
  0% { opacity: 1; }
  30% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

/*Fade in text */
.fade-in {
    -webkit-animation: fadein 5s linear forwards;
    animation: fadein 5s linear forwards;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.click-in {
    -webkit-animation: clickin 2s linear forwards;
    animation: clickin 2s linear forwards;
}

@-webkit-keyframes clickin {
  0% { opacity: 0; }
  50% { opacity: 0.75; }
  100% { opacity: 1; }
}

@keyframes clickin {
  0% { opacity: 0; }
  50% { opacity: 0.75; }
  100% { opacity: 1; }
}

/* @media (min-width: 750px) {
  .proj-text {color: blue;}

}

@media (max-width: 750px) {
  .proj-text {color: greenyellow;}
} */

@media (max-width: 1000px) {
  .proj-img {display: none;}
}
@media (min-width: 1000px) {
  .proj-img {display: inline;}
}